<table>
    <!---- Description  ----->
    <tr>
        <h2 class="header-color" style="text-align:center">SMARTs</h2>
    </tr>
    <tr>
        <h4 class="header-color" style="text-align:left">Project description:</h4>
    </tr>
    <tr>
        <h4 class="maincolor">Eligo’s in-house billing system. Stands for "Supply Management And Retail Tracking Suite". SMARTS is used for the following workloads/processes: </h4>
    </tr>
    <tr>
        <ul>
            <li class="maincolor">
                Processing requests from Account Management and Sales project for Accounts and Contracts (new contract, rate change, cancelling contracts, etc).
            </li>
            <li class="maincolor">
                Managing EDI transactions with Latitude Technologies, including enrolling new accounts, requesting historical usage data, obtaining meter readings, applying new rates, sending and receiving invoices, and managing account changes.
            </li>
            <li class="maincolor">
                Managing and Tracking account statuses (the Account Lifecycle).
            </li>
            <li class="maincolor">
                Managing and Tracking the Account Ledger, including Financial Close Periods.
            </li>
            <li class="maincolor">
                Sending invoices and notices to customers via LOB mail.
            </li>
        </ul>
    </tr>
    <!---- Responsibilities  ----->
    <tr>
        <h4 class="header-color" style="text-align:left">Responsibilities:</h4>
    </tr>
    <tr>
        <ul>
            <li class="maincolor">
                Development
            </li>
            <li class="maincolor">
                Deployment
            </li>
            <li class="maincolor">
                Support and project management.
            </li>
        </ul>
    </tr>
    <!---- Languages & Technologies  ----->
    <tr>
        <h4 class="header-color" style="text-align:left">Languages & Technologies:</h4>
    </tr>
    <tr>
        <ul>
            <li class="maincolor">
                C#, .NET 6, . NET 8
            </li>
            <li class="maincolor">
                Azure (cloud service, storage, functions, sql server, logic app, key vault, entra, data factory), AppVeyor
            </li>
            <li class="maincolor">
                SQL Server, Entity Framework Core, SSIS
            </li>
            <li class="maincolor">
                HTML, CSS, JavaScript, jQuery
            </li>
            <li class="maincolor">
                LOB, Latitude EDI
            </li>            
        </ul>
    </tr>
</table>
