@inherits LayoutComponentBase
<div class="page">
    <main>
        <NavMenu />        
        <article class="content px-4 asback">
            <table>
                <tr>
                    <th style="width:25%">
                        <Profile />
                    </th>
                    <th style="display: flex;align-items: center;justify-content: center;">
                        @Body
                    </th>
                </tr>
            </table>
        </article>
    </main>
</div>
