<div class="asback navbar">
    <nav class="flex-column w-100">
        <div class="px-3 w-25 d-inline-block">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="/images/logoAS.png" style="border-radius: 50%; width:75px;" />
            </NavLink>
        </div>
        <div class="px-3 w-25 d-inline-block">
            <NavLink class="nav-link" href="projects" Match="NavLinkMatch.All">
                <span>Projects</span>
            </NavLink>
        </div>
        <div class="px-3 w-25 d-inline-block">
            <NavLink class="nav-link" href="certificates" Match="NavLinkMatch.All">
                <span>Certificates</span>
            </NavLink>
        </div>        
    </nav>
</div>
