<PageTitle>Artsem Shumski</PageTitle>

<div class="portfolio">
    <h1>Artsem Shumski</h1>
    <h2>Sr Software Developer</h2>
    <div class="ava">
        <img src="ava.jpg" />
    </div>
    <h4 style="margin-top:50px;">
        <a href="mailto:artic2712@gmail.com" style="color:white">artic2712@gmail.com</a>
    </h4>
    <h4>Based in Plano (DFW), TX</h4>
    <div class="personal-link d-inline-block"><i class="fa-brands fa-linkedin fa-3x" style="width:100%"></i></div>
    <div class="personal-link d-inline-block"><i class="fa-brands fa-github fa-3x"></i></div>
    <div class="personal-link d-inline-block"><i class="fa-brands fa-instagram fa-3x"></i></div>
</div>

@code {

}
