@page "/"

<div class="d-inline-block" style="vertical-align: top; margin-left:5%; width:45%">
    <h2 style="color:aquamarine">@YearsOfExp+</h2><h4> years of experience</h4>
</div>
<div class="w-25 d-inline-block" style="vertical-align: top; margin-left:5%;width:45%">
    <h2 style="color:aquamarine">C#/.NET </h2><h4> Developer</h4>
</div>
@code{
    private short YearsOfExp => (short)((DateTime.Now - (new DateTime(2016, 7, 1))).TotalDays / 365.25);
}